.main {
    margin-top: 20px;
    background-color: #1d4da5;
}
.form-area {
    background-color: white;
}
.title {
  display: flex;
  justify-content: center;
}
.title img {
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
}
.pull-right{
  float:right;
}
.pull-left{
  float:left;
}
.fbcomment{
  position: relative;
  background:rgb(81 94 247);
  border: 1px solid #7bbdff;
  border-radius: 3px;
  color: #656769;
  padding:50px;
}
.header_comment{
    font-size: 14px;
    overflow: hidden;
    border-bottom: 1px solid #588fe2;
    line-height: 25px;
    margin-bottom: 24px;
    padding: 10px 0;
}

.count_comment{
  font-weight: 600;
}
.body_comment{
    padding: 0 8px;
    font-size: 14px;
    display: block;
    line-height: 25px;
    word-break: break-word;
}
.avatar_comment{
  display: block;
}
.avatar_comment img{
  height: 48px;
  width: 48px;
}
.box_comment{
    display: block;
    position: relative;
    line-height: 1.358;
    word-break: break-word;
    border: 1px solid #699df0;
    word-wrap: break-word;
    background: rgb(75, 107, 248);
    box-sizing: border-box;
    cursor: text;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding: 0;
}
.box_comment textarea{
    min-height: 40px;
    width: 100%;
    border: none;
    resize: none;
    padding: 10px;
}
.box_comment textarea:focus{
  outline: none !important;
}
.box_comment .box_post{
    border-top: 1px solid #d3d6db;
    background: #f5f6f7;
    padding: 8px;
    display: block;
    overflow: hidden;
}
.box_comment label{
  display: inline-block;
  vertical-align: middle;
  font-size: 11px;
  color: #90949c;
  line-height: 22px;
}
.box_comment button{
  margin-left:8px;
  background-color: #4267b2;
  border: 1px solid #4267b2;
  color: #fff;
  text-decoration: none;
  line-height: 22px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  text-align: center;
}
.box_comment button:hover{
  background-color: #29487d;
  border-color: #29487d;
}

.box_comment .min-img{
  height:16px;
  width:16px;
}
.box_result{
  margin-top: 24px;
}
.box_result .result_comment h4{
  font-weight: 600;
  white-space: nowrap;
  color: #18202e;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.358;
  margin:0;
}
.box_result .result_comment{
  display:block;
  overflow:hidden;
  padding: 0;
}

.reply_comment{
    margin:12px 0;
}
.box_result .result_comment p{
  color: #18202e;
  margin: 4px 0;
  text-align:justify;
}
.box_result .result_comment .tools_comment{
  font-size: 12px;
  line-height: 1.358;
}
.box_result .result_comment .tools_comment a{
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}
.box_result .result_comment .tools_comment span{
  color: #000000;
}

.commentar .img-input{
  overflow: auto;
  height: 100px;
}

.comment-img {
  cursor: pointer;
  position: inherit;
  width: 200px;
  height: 200px;
  margin-bottom: 5px;
}

.comment-area {
  height: 90px;
  overflow: auto;
}

.comment-area img {
  width: 300px;
  height: 300px;
}